<configuration>

    <property name="HOME_LOG" value="/projects/Demo_Bot/logs/app.log"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/projects/Demo_Bot/logs/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- архивы не более 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- общий размер всех архивных файлов, если общий размер > 1 GB, старый архивный файл будет удален. -->
            <totalSizeCap>1GB</totalSizeCap>
            <!-- максимум 60 дней хранения архивных файлов -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="test.example.demobot" level="debug" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <root level="error">
        <appender-ref ref="FILE-ROLLING"/>
    </root>

    <root level="info">
        <appender-ref ref="FILE-ROLLING"/>
    </root>

</configuration>